* {
    box-sizing: border-box;
}
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 60%;
    margin: 2rem auto;
}

header{
    margin-top: 2rem;
    background-color: black;
    color: white;
    padding: 0.5rem;
    text-align: center;
}
fieldset#datos {
    border: none;
}

fieldset {
    border: 0.5px solid black;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

input[type="submit"], button {
    padding: 10px 15px;
    border-width: 1px;
    border-radius: 5px;
}

.container {
    width: 70%;
    margin: 0 auto;
}
.d-flex {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 2rem;
}
.d-flex select{
    padding: 1rem;
}
.d-flex select option {
    padding: 3px;
}
.no_display {
    display:none;
}
.error {
    border: 1px solid red;
}
input#enviar {
    margin: 1rem;
}