*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 50%;
    margin: 100px auto;
    border: 1px solid black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container h1{
    text-align: center;
}
.mensaje{
    width: 80%;
    margin: 2rem auto;
    text-align: center;
}
input, button#boton{
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid gainsboro;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.boton{
    margin: 5px;
    padding: 3px;
    width: 30px;
    height: 30px;
}
p.error{
    margin-top: 2rem;
    background-color: tomato;
    color: white;
    text-transform: uppercase;
    padding: 1rem 0;
}