*´{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 80%;
    margin: 0 auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header{
    text-align: center;
}
#contenedor_formulario{
    width: 80%;
    margin: 2rem auto;
}
ul{
    list-style-type: none;
    padding: 0;
}
ul li{
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
form{
    width: 70%;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid gainsboro;
    border-radius: 8px;
    background-color: PapayaWhip;
}
input, select{
    padding: 10px;
    border: 0.5px solid gainsboro;
    border-radius: 8px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
}
.botones {
    text-align: center;
    margin-top: 5rem;
}
.botones input:first-child{
    margin-right: 5rem;   
}