*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 600px;
    margin: 100px auto;
}
section{
    border: 1px solid black;
}
div{
    margin: 10px;
}
#capa1{
    width: 500px;
    height: 400px;
    
}
#capa2{
    width: 350px;
    height: 250px;
}
#capa3{
    width: 200px;
    height: 100px;
}
.flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}