*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, select, button{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container{
    width: 60%;
    margin: 100px auto;
}
#formulario fieldset{
    padding: 2rem;
    width: 50%;
    margin: 0 auto;
    border: 1px solid grey;
    border-radius: 5px;
    background-color: YellowGreen;
}
#formulario fieldset legend{
    padding: 1rem;
   background-color: rgba(255, 255, 255, 0.5);
   border-radius: 5px;
}
#formulario p{
    margin: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
input, select{
    border: 1px solid gainsboro;
    border-radius:5px;
    padding: 6px;
}
button{
    border: 1px solid gainsboro;
    border-radius:5px;
    padding: 6px 50px;
    background-color: rgba(240, 240, 240, 0.5);
}
